<div class="mb-sm"><%= simple_format h(question.body) %></div>

<div class="text-sm question-footer">
  <div class="text-gray"><%= l(question.created_at, format: :short) %></div>

  <div>
    <%= link_to fa_icon("pencil"), edit_question_path(question), title: "Изменить вопрос" %>
      
      <%=
        button_to fa_icon("trash-o"),
        question_path(question),
        method: :delete,
        title: "Удалить вопрос",
        form: {data: {turbo_confirm: 'Вы уверены что хотите удалить вопрос?'}} %>

      <% if question.hidden %>
        <%= button_to fa_icon("eye"), 
        unhide_question_path(question),
        method: :patch,
        title: "Сделать вопрос видимым", 
        form: {data: {turbo_confirm: 'Вы уверены что хотите сделать вопрос видимым?'}} %>
        <% else %>
        <%= button_to fa_icon("eye-slash"), 
        hide_question_path(question),
        method: :patch,
        title: "Спрятать вопрос", 
        form: {data: {turbo_confirm: 'Вы уверены что хотите спрятать вопрос?'}} %>
      <% end %>
  </div>
</div>
