<div class="mb-sm">
  <p>Вопрос от <%= question_author(question) %>
  <% if current_page?(@user) %>
    для <%= question_owner(question) %></p>
  <% end %>
</div>

<div class="mb-sm">
  <%= simple_format h(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= simple_format h(question.answer) %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div>
    <% question.hashtags.each do | hashtag | %>
      <%= link_to "##{hashtag.name}", hashtag_path(hashtag.name) %>
    <% end %>
  </div>
  
  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>

    <% if current_user == question.user && !current_page?(@user) %>
      <div class="mt-sm">
        <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>
        <% edit_text = (question.answer.present? ? "Изменить вопрос" : "Ответить на вопрос") %>
        <%= link_to fa_icon(edit_icon), edit_question_path(question), title: edit_text, class: "mr-sm" %>
          
          <%=
            button_to fa_icon("trash-o"),
            question_path(question),
            method: :delete,
            title: "Удалить вопрос",
            form: {data: {turbo_confirm: 'Вы уверены что хотите удалить вопрос?'}},
            class: "mr-sm" %>

          <% if question.hidden %>
            <%= button_to fa_icon("eye"), 
            unhide_question_path(question),
            method: :patch,
            title: "Сделать вопрос видимым", 
            form: {data: {turbo_confirm: 'Вы уверены что хотите сделать вопрос видимым?'}} %>
            <% else %>
            <%= button_to fa_icon("eye-slash"), 
            hide_question_path(question),
            method: :patch,
            title: "Спрятать вопрос", 
            form: {data: {turbo_confirm: 'Вы уверены что хотите спрятать вопрос?'}} %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
